@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

* {
    font-family: "Jua", serif;
    font-weight: 400;
    font-style: normal;
}  

/* 타이틀 */
.mytitle {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    top: 0;
    z-index: 100;
}

/* 타이틀(영화 검색) */
.mytitle h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

/* 검색창 */
#search-input {
    width: 80%;
    max-width: 600px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

/* 북마크 버튼 */
#bookmark-button {
    width: 100px;
    height: 30px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

/* 영화 카드 컨테이너*/
#movie-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    max-width: 1500px;
    padding: 20px;
    margin: 20px auto;
}

/* 영화 카드 */
.movie-card {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s ease;
    cursor: pointer;
}

.movie-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

/* 모달창 */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

/* 모달창 내용 */
.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

/* 모달 이미지 */
#modal-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* 제목 스타일 */
#modal-title {
    font-size: 28px;
    margin-bottom: 15px;
}

/* 본문 스타일 */
#modal-body {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: justify;
}

/* 날짜와 평점 스타일 */
#modal-date,
#modal-vote {
    font-size: 16px;
    margin-bottom: 10px;
}

/* 북마크 버튼 */
#modal-bookmark {
    color: #222;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#modal-bookmark:hover {
    background-color: gray;
}

/* 모달창 닫기 버튼 */
.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
    color: red;
    font-weight: bold;
}